
#wrapper {
	font-size: 100%;
	width: 100%;
	background-color: #123456;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, 
								color-stop(0,rgb(0,68,114)), 
								color-stop(0.2,rgb(20,116,176)),
								color-stop(0.4,rgb(55,158,224)),
								color-stop(0.8,rgb(24,88,131)),
								color-stop(1,rgb(11,55,90))
								);
	position: relative;
}

#header {
	width: 70%;
	height: 2em;
	margin-top: 10px;
	position: absolute;
	top: 2em;
	left: 15%;
	display: table;
}

#navigation {
	width: 70%;
	height: 3em;
	margin-top: 10px;
	position: absolute;
	top: 5em;
	left: 15%;
}

#content {
	width: 70%;
	margin-top: 10px;
	top: 9em;
	left: 15%;
	position: absolute;
}

#footer {
	width: 70%;
	position: absolute;
	bottom: 20px;
	height: 50px;
	margin-left: 15%;
}

.back-image {
	width: 100%;
}

#global_search {
	border: 1px solid #cccccc;
	border-radius: 9px;
	height: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
}

.global-search-btn {
	height: 20px;
	margin-left: -10px;
	margin-top: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background-color: #ffffff;
	padding: 4px 12px;
	margin-bottom: 0;
	border: 1px solid #cccccc;
	border-radius: 9px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-image: url(../img/icon-search-2.png);
}

#header a {
	color: #CC9900;
}

#navigation a {
	color: white;
	text-decoration: none;
	border-right: 1px solid #ccc;
	font-family:Arial,Verdana,Sans-serif;
	font-size: 1em;
}

#content #detail_show {
	padding-top: 3%;
}

#content #link_show {
	padding-top: 5%;
}

#content #detail_show img {
	width: 110%;
}

#content #link_show img {
	width: 23%;
}

#footer a {
	color: white;
	text-decoration: none;
	font-family: Arial,Verdana,Sans-serif;
	font-size: 1em;
}

#footer div {
	color: white;
	font-family: Arial,Verdana,Sans-serif;
	font-size: 1em;
}