

.device-info-pannel {
	display: none;
	position: absolute;
	z-index: 3;
	width: 200px;
	height: 114px;
	background: url(http://m.baidu.com/static/as/images/li-pannel.png);
	background-repeat: no-repeat;
	box-shadow: 0px 2px 2px #666;
}

.app-info-pannel {
	display: none;
	position: absolute;
	z-index: 3;
	width: 200px;
	height: 114px;
	background: url(../img/icon_app_panel.png);
	background-repeat: no-repeat;
}

.background-device {
	background: url(../img/link_device.png);
	background-repeat: no-repeat;
}

.background-app {
	background: url(../img/link_app.png);
	background-repeat: no-repeat;
}

.background-test {
	background: url(../img/link_test.png);
	background-repeat: no-repeat;
}

#content #detail_show {
	padding-top: 30px;
}

/*li {
	list-style-type: none;
	float: left;
	position: relative;
}*/

#content {
	padding-top: 100px;
}

#content li {
	list-style: none;
	float: left;
}

#content li.hover .device-info-pannel{
	display: block;
}

#content li.hover .app-info-pannel {
	display: block;
}

#content #link_show {
	padding-top: 4%;
}

.link-border {
	display: block;
	width: 200px;
	height: 160px;
	padding: 10px 10px;
}

.link-border h3 {
	color: white;
	font-family:Arial;
	font-weight: normal;
}

.link-border h4 {
	color: #ccc;
	font-family:Arial;
	font-weight: normal;
}

.link-border h5 {
	color: #ccc;
	font-family:Arial;
	font-weight: normal;
}
