.app-info-pannel {
	display: none;
	position: absolute;
	z-index: 3;
	width: 200px;
	height: 114px;
	background: url(http://m.baidu.com/static/as/images/li-pannel.png);
	background-repeat: no-repeat;
}