* {
	margin: 0;
	padding: 0;
}

html body {
	font-size: 100%;
	width: 100%;
	background-color: #123456;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, 
								color-stop(0,rgb(0,68,114)), 
								color-stop(0.2,rgb(20,116,176)),
								color-stop(0.4,rgb(55,158,224)),
								color-stop(0.8,rgb(24,88,131)),
								color-stop(1,rgb(11,55,90))
								);
}


.back-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

#wrapper {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

#head {
	padding-top: 40px;
}

#navigation {
	padding-top: 20px;
}



#footer {
	position: absolute;
	bottom: 0;

	-
	padding-top: 20px;
	margin: 50px auto 0 auto;
	width: 1200px;
}


#global_search {
	border: 1px solid #cccccc;
	border-radius: 9px;
	height: 25px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
}

.global-search-btn {
	height: 25px;
	margin-left: -8px;
	padding: 6px 12px;
	border: 1px solid #cccccc;
	border-radius: 9px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-image: url(../img/icon-search-2.png);
}

#head a {
	color: #CC9900;
}


#navigation li{
	list-style:none;
	float:left;
	position: relative;
	/*background: -moz-linear-gradient(top, #fff, #555D5F 2% ,#555D5F  50%,#3E4245 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(2%, #555D5F), color-stop(50%, #555D5F),to(#3E4245));*/
	
}
li:hover{
	/*background: -moz-linear-gradient(top, #fff, #3E4245 2% ,#555D5F  80%,#555D5F 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(2%, #3E4245), color-stop(80%, #3E4245),to(#555D5F));*/
	background:rgba(204,204,204,0.5);/*前三个参数为rgb颜色，第四个参数为透明度*/
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);/*#7F000000的前两位为16进制透明度，后六位为16进制颜色*/

}
li a{
	display:block;
	font-size: 16px;
	font-family: Arial;
	padding:0 30px;
	color:#fff;
	text-shadow: 0px -1px 0px #000;
	text-decoration:none;
	white-space:nowrap;
	border-right: 1px solid #fff;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	
	z-index:100;
}
li > a{
	position:relative;
}
li.first a{
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}
li.last{
	border-right: 0 none;
}


dl{
	position:absolute;
	display:block;
	top:40px;
	z-index:10;
	background:rgba(204,204,204,0.5);/*前三个参数为rgb颜色，第四个参数为透明度*/
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);/*#7F000000的前两位为16进制透明度，后六位为16进制颜色*/

            
}
li:hover dl{
	top:19px;
	display:block;
	padding:10px;
}
dl a{
	background:transparent;
	border:0 none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-transition: background 0.5s ease-out;
	-webkit-transition: background 0.5s ease-out;
	
	z-index:50;
}
dl a:hover{
	color:#FFF;
	background:#999E9F;
	-moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
dd{
	margin-top:-40px;
	opacity:0;
	-webkit-transition-property:all;
	/*-webkit-transition-timing-function: cubic-bezier(5,0,5,0);*/
	-moz-transition-property: all;
	/*-moz-transition-timing-function: cubic-bezier(5,0,5,0);*/
	/*-webkit-transition-delay:5s;
	-moz-transition-delay:5s;*/
}
li:hover dd{
	margin-top:0;
	opacity:1;
}
li dd:nth-child(1){
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
}
li dd:nth-child(2){
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
}
li dd:nth-child(3){
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
li dd:nth-child(4){
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}
dt{
	display:none;
	margin-top:-25px;
	padding-top:15px;
	height:10px;
}
li:hover dt{
	display:block;
}



#footer a{
	text-decoration: none;
	color: #ccc;
	font-size: 14px;
	font-family: Arial;
}

.copyright {
	color: #ccc;
}